* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
section {
	height: 95vh;
	background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
	background-size: cover;
	background-repeat: no-repeat;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #ffffff;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 5%;
	background-image: url(https://images.pexels.com/photos/574073/pexels-photo-574073.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
nav ul {
	display: flex;
	font-weight: bold;
	margin-top: 10px;
	font-family: 'Krona One', sans-serif;
	font-family: 'Modak', cursive;
	font-family: 'Orbitron', sans-serif;
	font-family: 'Righteous', cursive;
}
nav ul li a{
	margin: 20px;
}
.logo {
	font-family: 'Orbitron', sans-serif;
	color: #000000;
	font-size: 35px;
	font-weight: bold;
}
.text-container p:nth-child(1) {
	font-family: calibri;
	font-weight: bold;
	color: #6d6d6d;
	font-size: 22px;
}
.text-container p:nth-child(2) {
	font-family: calibri;
	font-weight: bold;
	letter-spacing: 1px;
	color: #1a1a1a;
	font-size: 60px;
}
.text-container p:nth-child(3){
	font-family: sans-serif;
	color: #403e3e;
	font-size: 30px;
	line-height: 30px;
}
.text-container p {
	line-height: 0px;
	margin: 45px 0px 25px;
}
.text-container {
	position: absolute;
	left: 13%;
	top: 42%;
	transform: translate(-13%, -42%);
}
.text-container button {
	width: 130px;
	height: 42px;
	border-radius: 10px;
	font-family: calibri;
	font-weight: bold;
	font-size: 14px;
	outline: none;
	margin: 0px 10px;
}
.hire-btn {
	border: 2px solid #373636;
	color: #373636;
}
.down-cv {
	background-color: #0b0b0b;
	color: #ffffff;
	border: none;
}
button:active {
	transform: scale(1.1);
} 
.model2 {
	height: 600px;
	position: absolute;
	top: 150px;
	left: 80%;
	transform: translateX(-70%);
}

.about-container {
	width: 80%;
	height: 330px;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -7% auto 20px auto;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
	background-image: url(https://images.pexels.com/photos/785418/pexels-photo-785418.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
.about-text {
	width: 800px;
	color: black;
	font-weight: bold;
	font-family: 'Modak', cursive;
	font-family: 'Righteous', cursive;
}
.about-text p:nth-child(1) {
	font-family: calibri;
	font-weight: bold;
	font-size: 35px;
	line-height: 0px;
	font-family: 'Modak', cursive;
	font-family: 'Righteous', cursive;
	
}
.about-text button {
	width: 120px;
	height: 40px;
	color: white;
	outline: none;
	border: none;
	font-family: 'Modak', cursive;
	font-family: 'Righteous', cursive;
	background-color: black;
	border: 2px solid #373636;
}
.skill-set {
	position: absolute;
	justify-content: space-between;
}
.skill-container {
	width: 80%;
	height: 100px;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -7% auto 20px auto;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
	background-image: url(https://images.pexels.com/photos/270366/pexels-photo-270366.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	font-size: 100px;
}
.skill-container p {
	font-weight: bold;
	color: white;
}
.skill-logo {
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
}
.skill-logo img {
	height: 200px;
}
.contact-me {
	width: 80%;
	height: 100px;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -7% auto 20px auto;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
	background-image: url(https://images.pexels.com/photos/733852/pexels-photo-733852.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
.contact-me p {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	color: red;
	font-weight: bolder;
}
.contact-form {
	display: flex;
	justify-content: space-between;
}
.contact-form iframe {
	position: relative;
	height: auto;
	width: 350px;
}
footer {
	margin: 20px;
}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}
.facebook, .twitter, .google, .instagram, .youtube {
  background: grey;
  color: black;
}
